@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=New+Tegomin&display=swap');
@import 'colors';
@import 'breakpoints';

.section {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;

  @media (max-width: $mobile) {
    padding: 15px;
  }

  &-content {
    width: 100%;
    max-width: 1344px;
    text-align: center;
  }

  &-title {
    width: 100%;
    font-size: 24px;
    color: $dark;
    margin-bottom: 40px;

    @media (max-width: $mobile) {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &::before {
      content: '----';
      letter-spacing: -2px;
      margin-right: 12px;
      color: $grey;
    }
    &::after {
      content: '----';
      letter-spacing: -2px;
      margin-left: 12px;
      color: $grey;
    }
  }
}
